body {
	margin: 0;
}

.header{
background-color: #033860;
width: auto;
height: auto;
min-height: 150px;
min-width: 800px;
position: fixed;
top: 0px;
left: 0px;
right: 0px;
z-index: 2;
text-align: right;
}


.mySlides{
	width: 100%;
	height: 100%;
	position: absolute;
}

.main{
  padding: 50px;
	padding-top: 150px;
  width: auto;
  height: auto;
  background-color: white;
  left: 0px;
  right: 0px;
  z-index: 0;
  text-align: center;
  font-family: 'Raleway', sans-serif;
}

hr {
	width: 100%;
}

.footer{
  width: auto;
  height: auto;
  min-height: 50px;
  min-width: 800px;
  position: fixed;
  bottom: 0px;
  left: 0px;
  right: 0px;
  background-color: #033860;
  z-index: 2;
  text-align: center;
}

#logo{
  position: fixed;
  top: 22px;
  left: 22px;
}

#fp{
  text-align: center;
  font-size: 12px;
  font-family: 'Raleway', sans-serif;
  color: white;
  line-height: 50px;
}

#menu li{
  line-height: 120px;
	float: left;
	width: 140px;
	text-align: center;
  font-size: 12px;
	list-style: none;
  font-family: 'Raleway', sans-serif;
}

#menu ul {
  position: fixed;
  right: -825px;
}

#menu li a{
  background-color: #03487C;
	color: #FFF;
	text-decoration: none;
	display: block;
  border: 1px solid #033864;
}

#menu li a:hover {
	text-shadow: 0px 0px 30px #86BBD8;
}

#menu ul ul:hover {
	box-shadow: 0px 20px 30px #86BBD8;
}

#main_cf{
  text-align: left;
  left: 16px;
}

#p_error{
  color: red;
}

#p_insert{
  color: green;
  font-weight: bold;
}

.mySlides {
	display:none;
}

.table_default th,
.table_default td {
	border: 1px solid;
	border-color: #0a0a0a;
	margin: 0;
	padding: 5px;

}

/* CSS Form */

.customForm{
    max-width: 450px;
    background: #FAFAFA;
    padding: 30px;
    margin: 50px auto;
    box-shadow: 1px 1px 25px rgba(0, 0, 0, 0.35);
    border-radius: 10px;
    border: 6px solid #305A72;
}
.customForm ul{
    padding:0;
    margin:0;
    list-style:none;
}
.customForm ul li{
    display: block;
    margin-bottom: 10px;
    min-height: 35px;
}
.customForm ul li  .field-style{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    padding: 8px;
    outline: none;
    border: 1px solid #B0CFE0;
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;

}.customForm ul li  .field-style:focus{
    box-shadow: 0 0 5px #B0CFE0;
    border:1px solid #B0CFE0;
}
.customForm ul li .field-split{
    width: 49%;
}
.customForm ul li .field-full{
    width: 100%;
}
.customForm ul li input.align-left{
    float:left;
}
.customForm ul li input.align-right{
    float:right;
}
.customForm ul li textarea{
    width: 100%;
    height: 100px;
}
.customForm ul li input[type="button"],
.customForm ul li input[type="submit"] {
    -moz-box-shadow: inset 0px 1px 0px 0px #3985B1;
    -webkit-box-shadow: inset 0px 1px 0px 0px #3985B1;
    box-shadow: inset 0px 1px 0px 0px #3985B1;
    background-color: #216288;
    border: 1px solid #17445E;
    display: inline-block;
    cursor: pointer;
    color: #FFFFFF;
    padding: 8px 18px;
    text-decoration: none;
    font: 12px Arial, Helvetica, sans-serif;
}
.customForm ul li input[type="button"]:hover,
.customForm ul li input[type="submit"]:hover {
    background: linear-gradient(to bottom, #2D77A2 5%, #337DA8 100%);
    background-color: #28739E;
}

.customStyle {
    margin:10px auto;
    max-width: 400px;
    padding: 20px 12px 10px 20px;
	  font: 13px "Open Sans", sans-serif;
}

.customStyle label{
    padding:0px;
    display:block;
    font-weight: bold;
}
.customStyle input[type=text],
.customStyle input[type=date],
.customStyle input[type=datetime],
.customStyle input[type=number],
.customStyle input[type=search],
.customStyle input[type=time],
.customStyle input[type=url],
.customStyle input[type=email],
.customStyle input[type=password],
textarea,
select{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    border:1px solid #BEBEBE;
    padding: 7px;
    margin:0px;
    border-radius: 100px;
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;
    outline: none;
}
.customStyle input[type=text]:focus,
.customStyle input[type=date]:focus,
.customStyle input[type=datetime]:focus,
.customStyle input[type=number]:focus,
.customStyle input[type=search]:focus,
.customStyle input[type=time]:focus,
.customStyle input[type=url]:focus,
.customStyle input[type=email]:focus,
.customStyle input[type=password]:focus,
.customStyle textarea:focus,
.customStyle select:focus{
    border-radius: 100px;
    -moz-box-shadow: 0 0 8px #88D5E9;
    -webkit-box-shadow: 0 0 8px #88D5E9;
    box-shadow: 0 0 8px #88D5E9;
    border: 1px solid #88D5E9;
}
.customStyle .field-divided{
    width: 49%;
}

.customStyle .field-long{
    width: 100%;
}
.customStyle .field-select{
    width: 100%;
}
.customStyle .field-textarea{
    height: 100px;
}
input[type=submit], input[type=button], button{
    text-align: center;
    border-radius: 100px;
    background: #086788;
    padding: 8px 15px 8px 15px;
    border: none;
    color: #fff;
		margin-bottom: 20px;
		margin-top: 20px;
}
input[type=submit]:hover, input[type=button]:hover, button:hover{
    text-align: center;
    background: #4691A4;
    box-shadow:none;
    -moz-box-shadow:none;
    -webkit-box-shadow:none;
}
.customStyle .required{
    color:red;
}

.customStyle input[type=text]::placeholder,
.customStyle input[type=text]::placeholder {
  text-align: center;
}

.customStyle input[type=text],
.customStyle input[type=password],
.customStyle input[type=email] {
  text-align: center;
}
